<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Noticias - Mil Sabores</title>
</head>
<body>
    <h1>Últimas Noticias</h1>
    <div class="noticias">
        <div class="noticia">
            <img src="imagenes/torta1.jpg" alt="Nueva Torta ">

            <h2>¡Nueva Torta de Chocolate!</h2>
            <p>Ven a probar nuestra deliciosa torta de chocolate, ¡un verdadero deleite!</p>
        </div>
        <div class="noticia">
            <img src="imagenes/curso.jpg" alt="Curso de Pastelería">
            <h2>Curso de Decoración de Tortas</h2>
            <p>Aprende a decorar tus propias tortas en nuestro próximo curso. ¡Inscríbete ya!</p>
        </div>
    </div>
    <a href="/">Regresar</a>
</body>
</html>
